<div style='background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://cdn.thewirecutter.com/wp-content/media/2021/07/righttorepair-2048px-iStock-1226436218-2x1-1.jpg?auto=webp&quality=75&crop=2:1&width=980&dpr=2"); padding: 25px; padding-bottom: 35px; color: white; width: 1000px; font-size: 16px;'>
    <h1> Zgłoszenie #{nrZgloszenia} zostało anulowane! </h1>
    p #{name}, pragniemy Cię poinformować, że Twoje zgłoszenie zmieniło status: <br /> <br />
    <h2> #{status} </h2>
    <br/>
    p Przykro nam, że zaszła potrzeba dokonania rezygnacji z niniejszego zgłoszenia. <br />
    p Przypominamy, że zawsze jesteśmy do usług i możesz w każdej chwili utworzyć nowe zgłoszenie. <br />
    <br/> <br />
    <b> Pozdrawiamy, </b> <br/>
    <i> Zespół MobileService.pl </i>
</div>