<div style='background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://www.joniniemela.com/wp-content/uploads/aurora.jpg"); padding: 25px; padding-bottom: 35px; color: white; width: 1000px; font-size: 16px;'>
    <h1> Witamy w szeregach MobileService.pl! </h1>
    p #{name}, dziękujemy za założenie konta w naszym serwisie! 
    p Konto zapewni Ci szerszy zakres możliwości. Dzięki temu będziesz mógł:
    <ul>
        <li>W każdej chwili zobaczyć wszystkie swoje zgłoszenia</li>
        <li>Łatwo sprawdzić szczegółowe informacje o swoich zgłoszeniach</li>
        <li>W prosty sposób skontaktować się z nami poprzez napisanie wiadomości</li>
        <li>Łatwiej dokonać zgłoszenia naprawy</li>
        <li>Szybko uzyskać diagnozę swojej naprawy</li>
        <li>Sprawdzić status zgłoszenia</li>
    </ul>
    <i> I wiele, wiele więcej... </i>
    <br/>
    p Zaloguj się już teraz i sprawdź wszystkie funkcjonalności.
    <br/>
    <b> Pozdrawiamy, </b> <br/>
    <i> Zespół MobileService.pl </i>
</div>