<div style='background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://www.joniniemela.com/wp-content/uploads/aurora.jpg"); padding: 25px; padding-bottom: 35px; color: white; width: 1000px; font-size: 16px;'>
    pre(style='font-family: "Times New Roman", Times, serif; font-size: 16px;') #{tresc}
</div>